[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim.symlink/bundle/swift.vim"]
	path = vim.symlink/bundle/swift.vim
	url = https://github.com/keith/swift.vim
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
