[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[core]
	editor = vim
[color]
	diff = true
	status = true
	branch = true
	ui = true
[alias]
	st = status -sb
	purr = pull --rebase
[push]
        default = simple
[diff "plist"]
        textconv = plutil -convert xml1 -o -
